.faq-main {
  background: #0e040e;

  padding: 40px;
}
.asset2 {
  margin-left: 40px;
}
.accordian {
  background-color: #260226;
}
.faq2 {
  background: transparent;
  border-radius: 5px 5px 0px 0px;
}
