.industries-main {
  background: linear-gradient(65.68deg, #260226 8.79%, #000618 89.13%);
}
.industries-div {
  float: left;
}
.indus-center-img {
  margin: auto;
}
.indus-center-img {
  margin: auto;
  display: flex;
  /* flex-direction: column; */
}
