.home-main-new {
  background: url("/public/images/HeaderCuves.png"),
    linear-gradient(90deg, rgba(88, 9, 96, 1) 0%, rgba(68, 6, 61, 1) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
}
.navbar12 {
  margin-top: 20px;
  padding-top: 30px;
}
.nav-btn {
  padding: 15px 25px;
  border-radius: 0px !important;
  border: none;
  background-image: linear-gradient(to right, #6b147b, #4a1d92);
}
.nav-center {
  margin: 0 auto;
}
.nav-link {
  color: #fff !important;
  margin-right: 30px !important;
  font-size: 18px !important;
}
.link {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  color: #fff;
  text-decoration: none;
}
.links {
  color: #000;
  text-decoration: none;
}
.links:hover {
  color: #000;
  text-decoration: none;
}
